.Header {
  background-color: var(--primary-color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 2.5rem;

  .appbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;

    .menu {
      color: #fff;
      margin-left: 1.5rem;
      display: flex;
      align-items: center;

      .logo {
        margin-left: 2rem;

        h1 {
          font-size: 1.25rem;
          color: #fff;
          font-weight: bold;
        }
      }
    }

    .search {
      color: #fff;
      margin-right: 1.5rem;
    }
  }
}
