.back_to_bar {
  background-color: #4caf50;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 1rem 0.5rem 1rem 1rem;

  h3 {
    flex: 1;
    display: inline-flex;
    justify-content: center;
  }
}
