.back_to_bar {
  background-color: var(--primary-color);
  color: var(--white);
  display: flex;
  align-items: center;
  padding: 0.75rem 0.5rem 0.75rem 1rem;

  svg {
    margin: 0 1rem;
  }

  h3 {
    flex: 1;
    display: inline-flex;
    justify-content: center;
    text-transform: uppercase;
  }
}
