.form {
  display: flex;
  flex-direction: column;
  margin: 0 1.5rem;
  // margin-top: 3rem;

  &_submit {
    margin-top: 3rem;
    background-color: lighten(#000, 40%);
    text-align: center;
    padding: 1.2rem 3rem;
    border: none;
    color: var(--white);
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 900;
    border-radius: 5px;
    box-shadow: 0 3px 5px rgba(#fff, 0.7);
  }
}
