.list_item {
  padding: 0.7rem 1rem;
  padding-left: 2rem;
  display: flex;
  align-items: center;
  // border-bottom: 1px solid #ddd;
  color: var(--text-color-dark);

  &_text {
    font-size: 1.3rem;
    margin-left: 2rem;
    flex: 9;
    font-weight: 100;
  }

  &_icon {
    flex: 1;
  }
}
