.search {
  display: flex;
  flex-direction: column;

  &_form {
    display: flex;
    align-items: center;

    > div:first-child {
      color: var(--primary-color);
      margin: 0 2rem;
    }

    form {
      padding: 1rem 0;
      padding-left: 0;
      margin-right: 2rem;
      flex: 1;
      input[type="text"] {
        border: none;
        outline-style: none;
        border-bottom: 2.5px solid var(--primary-color);
        width: 100%;
        padding: 0.5rem 0rem;
        font-weight: 900;
      }
    }
  }

  &_results {
    display: flex;
    flex-direction: column;
  }
}

.result {
  padding: 0.5rem 0;
  font-weight: 300;
  border-top: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h3 {
    margin-left: 1rem;
    font-size: 1.6rem;
    font-weight: normal;
  }

  p {
    padding-top: 0.3rem;
    margin-left: 1.5rem;
    flex: 1;
    font-size: 1.2rem;
  }
  div {
    margin-right: 1.5rem;
    color: #ddd;
  }

  &:last-child {
    border-bottom: 1px solid #ddd;
  }
}
