.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(#000, 0.3);
}

.modal {
  &_body {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: #444;
    padding: 1rem 3rem;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    margin: 0 auto;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      margin: 1.5rem 0;
      font-weight: 300;
      font-size: 2rem;
    }
  }

  &_icon {
    color: #f11847;
  }

  &_act {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  button {
    text-transform: uppercase;
    font-weight: 900;
    color: #fff;
    border: none;
    padding: 1rem 1.5rem;
    border-radius: 3px;
    &:not(:last-child) {
      margin-right: 0.8rem;
    }
  }
}

.cancel_btn {
  background-color: #4e4141;
}

.delete_btn {
  background-color: #f11847;
}
