.AbbreviationDetails {
  background-color: #fff;
  padding: 3rem 3.5rem;

  h1 {
    font-size: 2rem;
    color: var(--text-color-dark);
  }

  h3 {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    color: var(--text-color-light);

    font-weight: 600;
  }

  p {
    line-height: 1.7;
    color: #000;
    font-size: 1.6rem;
    padding-bottom: 5rem;
  }
}
