.AbbreviationDetails {
  background-color: #fff;
  padding: 3rem 3.5rem;

  h1 {
    font-size: 2rem;
    color: #444;
  }

  h3 {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    color: #777;
    font-weight: 300;
  }

  p {
    line-height: 2;
    color: #777;
    font-size: 1.4rem;
    padding-bottom: 5rem;
  }
}
