:root {
  --primary-color: #71b637;
  --secondary-color: #ff64b6;
  --tertiary-color: #81b3ae;

  --text-color-dark: #444;
  --text-color-light: #777;
  --white: #fff;
  --black: #000;

  --danger-yellow: #ff9800;
  --danger-red: #f32013;
  --info: #00bcd4;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 65.2%;
}

body {
  font-size: 1.6rem;
  box-sizing: inherit;
  font-family: Arial, Helvetica, sans-serif;
  color: #999;
  line-height: 1.6;
  background-color: var(--color-white);
}
