.sidedrawer_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5rem 0 0 0;

  background-color: var(--white);
  div {
    text-align: center;
    color: var(--text-color-dark);
  }

  &_picture {
    color: var(--primary-color);
    margin-right: 1.5rem;

    .avatar {
      width: 7rem;
      height: 7rem;
      border-radius: 50%;
      overflow: hidden;

      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }
  }

  &_auth {
    margin-top: 2rem;
    margin-bottom: 1rem;
    display: flex;
    width: 100%;
    justify-content: center;

    .auth_btns {
      display: flex;
      align-items: center;
      width: 100%;
      box-shadow: 0 3px 5px rgba(#555, 0.1);
      background-image: linear-gradient(-45deg, #71b637 50%, #fff 50%);
    }

    .btn {
      flex: 1;
      align-items: center;
      border: none;
      padding: 0.8rem 1rem;
      text-transform: uppercase;
      font-size: 1.2rem;
      font-weight: 900;
      color: var(--primary-color);
      background-color: transparent;
    }

    .login_btn {
      color: var(--primary-color);
    }

    .sign_up_btn {
      color: var(--white);
    }
  }
}
