.Action {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid #ddd;
  background-color: var(--primary-color);

  > div {
    flex: 1;
    padding: 1rem 0.5rem;
    text-align: center;
    color: #fff;

    a {
      color: #fff;
    }

    &:not(:last-child) {
      border-right: 1px solid #fff;
    }
  }

  .fav {
    color: #84ff88;
  }
}
