.Navigation {
  background-color: #fff;
  position: fixed;
  width: 100%;
  bottom: 0;
  border-top: 1px solid rgba(#000, 0.2);

  ul {
    list-style-type: none;
    display: flex;
    align-items: center;

    li {
      flex: 1;

      cursor: pointer;

      &:not(:last-child) {
        border-right: 1px solid #ddd;
      }

      a {
        text-decoration: none;
        color: var(--primary-color);
        padding: 1rem 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;

        span {
          margin-left: 1rem;
        }
      }

      .active {
        color: #fff;
        background-color: var(--primary-color);
      }
    }
  }
}
